INSTAPAPER_USERNAME=your-instapaper-email@example.com
INSTAPAPER_PASSWORD=your-instapaper-password
INSTAPAPER_CONSUMER_KEY=your-consumer-key
INSTAPAPER_CONSUMER_SECRET=your-consumer-secret
SYNC_SCHEDULE=@every 5m
